<div>

  <!-- <section
  fxLayout="row"
  fxLayoutAlign="center"
  *ngIf="!waiting"> -->
  <!-- <div class="wrap"> -->
  <mat-card>
    <form
      [formGroup]="customerInfoForm"
      fxLayout="column"
      fxLayoutAlign="center"
      (ngSubmit)="sendOrder()">

      <mat-form-field hintLabel="Ten minste 3 letters">
        <label for="name"></label>
        <input type="text"
          id="name"
          matInput
          placeholder="NAAM *"
          formControlName="name"
          #nameInput
          (change)="orderInfoFormChanged($event)">
          <mat-error>NAAM BESTAAT UIT TEN MINSTE 3 LETTERS</mat-error>
          <mat-hint align="end">{{nameInput.value?.length}} / 3</mat-hint>
      </mat-form-field>

      <mat-radio-group aria-label="Select an option"
        formControlName="delivery"
        color="primary"
        (change)="orderInfoFormChanged($event)">
        <div fxLayout fxLayoutGap="20px" class="">
          <mat-radio-button
            id="pickup"
            (click)="onAfhalen()"
            value="pickup">
            Afhalen
          </mat-radio-button>
          <mat-radio-button
            id="dropoff"
            (click)="onBezorgen()" 
            value="dropoff">
            Bezorgen
          </mat-radio-button>
        </div>
      </mat-radio-group>

      <mat-form-field *ngIf="customerInfoForm.get('delivery').value === 'dropoff'">
        <input type="text"
          matInput
          placeholder="ADRES *"
          formControlName="address"
          #nameInput
          (change)="orderInfoFormChanged($event)">
          <mat-error>ADRES VERPLICHT BIJ BEZORGEN</mat-error>
      </mat-form-field>


      <mat-form-field>
        <input type="text"
          matInput placeholder="TELEFOONNUMMER (opt)"
          formControlName="phone"
          #phoneInput
          (change)="orderInfoFormChanged($event)">
      </mat-form-field>

      <mat-form-field>
        <input type="email"
          matInput placeholder="EMAIL"
          formControlName="email"
          #emailInput
          (change)="orderInfoFormChanged($event)">
          <mat-error>GEEN GELDIG EMAIL ADRES</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput [min]="minDate"
          [max]="maxDate"
          [matDatepickerFilter]="myDayFilter"
          [matDatepicker]="picker"
          placeholder="AFHAALDATUM *"
          formControlName="pickupDate"
          (dateChange)="orderInfoFormChanged($event)">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>
            <span class="material-icons">
              calendar_today
            </span>
          </mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>DATUM NIET BESCHIKBAAR</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>AFHAALTIJDSTIP *</mat-label>
        <mat-select
          formControlName="pickupTime"
          (selectionChange)="orderInfoFormChanged($event)">
          <mat-option
            *ngFor="let afhaalMoment of afhaalMomenten" [value]="afhaalMoment">
            {{afhaalMoment}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>OPMERKINGEN</mat-label>
        <textarea
          matInput
          placeholder=""
          formControlName="comments"
          (change)="orderInfoFormChanged($event)">
        </textarea>
      </mat-form-field>

      <div class="button-container" fxLayout fxLayoutAlign="space-between">
        <button
          class="bestel-button"
          mat-raised-button color="primary"
          type="submit"
          
          [disabled]="customerInfoForm.invalid">
          BESTEL
        </button>
        <div class="filler-h-20"></div>
        <button
          class="cancel-button"
          mat-raised-button color="warn"
          type="button"
          (click)="onCancel()">
          CANCEL
        </button>
      </div>

    </form>
  </mat-card>
</div>
<!-- </section> -->
