/* .bestel-button {
  width: 100%;
  border: 2px solid red;
} */
.button-container {
  display: flex;
}


.filler-h-20 {
  width: 20px;
}
.bestel-button {
  flex: 2
}
.cancel-button {
  flex: 1
}
.e-weekend {
  color: green;
}
.material-icons {
  position: relative;
  bottom: 10px;
  /* border: 2px solid red; */
  /* height: 50px;
  width: 50px; */
  font-size: 50px;
  float: right;
} 

/* .mat-form-field.ng-valid.ng-dirty:not(form) {
  border: solid 2px lightgreen;
}

.mat-form-field.ng-invalid.ng-dirty:not(form), .ng-invalid:not(form).form-submitted {
  border: solid 2px lightcoral;
} */