mat-card {

    /* margin-top: 0;
    margin-bottom: 0; */
    padding-top: 0;
    padding-bottom: 0;
}

.fixed{
    table-layout: fixed;
    width: 250px;
}
.fixed td {
    overflow: hidden;
}
td {
    width: 90px;
}

mat-form-field {
    width: 30px;
    /* margin-right: 25px; */
}
td {
    outline: 1px solid red;
}
.td-form-field{
    width: 25px;
}
.td-question-name {
    width: 138px
    ;
}
.td-question-price{
    width:60px;
    
}
.td-question-total-price {
    width: 60px;
}

/* .filler-h-20 {
    width: 20px;
} */
/* .question-name{
    margin-left: 20px;
    margin-right: 20px;
} */
/* label{

    height: 100%;
    width: 100%;
}
.item-price {
    min-width: 100px;
}

.order-item-total-price {

    height: 100%;
} */