.course-name {
  font-size: 18px;
  font-weight: bold;
}

.course-item-name {
  width: 138px
}
.course-item-price {
  width: 60px
}
.course-item-amount {
  width: 25px
}

.course-item-price-amount {
  width: 60px
}

td {
  /* outline: 1px solid black; */
}

.edit-icon-button {
  /* height: 30px; */
}
.edit-icon {
  border: 2px solid black;
}

.edit-icon:hover {
  /* height: 10px; */
  cursor: pointer;
}
/* ============= */
.courseItem {
  display: flex
}
.name {
  /* outline: 1px solid black; */
  flex: 50;
}
.amount {
  /* outline: 1px solid black; */
  flex: 10;
  text-align: right;
}
.price {
  /* outline: 1px solid black; */
  flex: 20;
  text-align: right;
}
.total-price{
  /* outline: 1px solid black; */
  flex: 20;
  text-align: right;
}