<div class="my-section">
  <div class="card-container" fxLayout="column">

    <h3 class="title">SOEP</h3>


    <mat-card>
      <mat-card-title>
        <table class="fixed">
          <div class="item" *ngFor="let question of questions">
            <app-soep-list [question]="question" [form]="form"></app-soep-list>
          </div>
        </table>
      </mat-card-title>
    </mat-card>
    <mat-card>


      <form
        (ngSubmit)="onSubmit()"
        [formGroup]="form">
        <div
          class="order-item-total-costs">
          <span><b>TOTAAL:</b></span>
          <span><b>{{orderItemTotalCosts | currency:"EUR"}}</b></span>
        </div>

        <div>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!form.valid">
            ADD TO ORDER
          </button>
        </div>
      </form>
    </mat-card>

    <!-- <div *ngIf="payLoad" class="form-row">
      <strong>Saved the following values</strong><br>{{payLoad}}
    </div> -->
  </div>
</div>
