<!-- <button (click)="getCompletedOrder()">GET ORDER</button>
<hr>
<p>test.component.html</p>
<ul>
  <li *ngFor="let number of numbers">{{number}}</li>
</ul>
{{orderInfoOutput}}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    p{
      color: red;
    }
  </style>
</head>
<body>
  test order
  {numbers.forEach(number) => {
    <ul>
      <li>{number}</li>
    </ul>
  }}
  <script>
    numbers: [
      1, 2, 3, 4
    ]

  </script>
</body>
</html> -->