<div class="first" fxLayout="column" fxLayoutAlign="center center">
  first
  <!-- <div class="second" fxLayout="column" fxLayoutAlign="center center">
    <div>

      second
    </div><br>
    <mat-card>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis accusantium sit ab cupiditate perspiciatis, esse dolor omnis quos voluptas vel!
    </mat-card>
    <mat-card>
      mat-card
    </mat-card>
  </div> -->
</div>
<mat-card>
  <p>hi</p>
</mat-card>
<mat-card class="lorem">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ab 
</mat-card>
