.first {
  background-color: pink;
  display: flex;
}
.second {
  background-color: green;
  width: 200px;
  /* height: 200px; */
}
mat-card {
  width: 100%;
  display: flex;
}
.lorem {
  visibility: hidden;
}