.image-container{
  width: 100%;
}
img {
  width: 100%;
}
.courseItem-description {
  margin-bottom: 15px;
}
/* .mat-icon-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
} */
button {
  border: none;
  background-color: none;
  height: 50px;
  width: 50px;
  padding-top: 5px;
}
mat-dialog-actions {
  justify-content: flex-end;
}