<div class="my-section">
  <mat-card>
    <div 
      class="order-item-container"
      *ngFor="let course of courses">
      <app-order-course [course]="course"></app-order-course>
    </div>
    <div class="">
      <button
        mat-raised-button
        color="primary"
        (click)="onOrderMore()">
        ORDER MORE
      </button>
    </div>
  </mat-card>

  <mat-card>
    <div
      class=""
      *ngIf="orderTotal === 0">NOG NIETS GEKOZEN
    </div>
    <div *ngIf="orderTotal !== 0"
        fxLayout fxLayoutAlign="space-between">
      <span>Totaal:</span><span><b>{{orderTotal | currency:"EUR"}}</b></span>
    </div>
  </mat-card>

</div>
<div class="section">
    <app-order-form></app-order-form>
</div>
