.course-name {
    font-size: 18px;
    margin-right: 10px;
}
.change-order-btn {
    width: 40px;
    border: 1px solid blue;
    
}

td {
    width: 25%
}
.info-icon {
    display: inline-flex;
    vertical-align: middle;
    margin-bottom: 5px;
}
.info-icon:hover {
    cursor: pointer;
}

/* .visibility-hidden {
    visibility: hidden;
    height: 1px;
    padding: 0px;
    margin: 0px;
} */

mat-card {
    padding: 10px;
}


