<div class="course-item-container">
  <form [formGroup]="itemOrderForm">
    <select
      class="select-container custom-select"
      formControlName="amount"
      (change)="onChange($event)">
      <option
        *ngFor="let option of options"
        [value]="option">
        {{option}}
      </option>
    </select>
  </form>


  <div class="name-container"
    (click)="onCourseItemName(courseItem)"
    [ngStyle]="{cursor: determineInfoStyle()}">
    {{courseItem.name | titlecase }}
    <mat-icon *ngIf="courseItem.description">info</mat-icon>
  </div>

  <!-- <span class="info-container"
    [ngStyle]="{cursor: determineInfoStyle()}"
    (click)="onCourseItemName(courseItem)">
    <mat-icon *ngIf="courseItem.description">info</mat-icon>
  </span> -->

  <div
    class="price-container">{{courseItem.price | currency:"EUR"}}
  </div>

  <div

    class="amount-container">
    <span *ngIf="courseItem.amount !== 0 && courseItem.amount !== '0'">
      {{courseItem.amount}}X
    </span>
  </div>

  <div
    class="total-container">
    <span *ngIf="courseItemTotal !== 0">
      {{courseItemTotal | currency:"EUR"}}
    </span>
  </div>
</div>

