/* tr {
    vertical-align: top;
}


.item-select {
    width: 35px
}
.item-name {
    width: 128px
}
.item-price {
    width: 60px
}
.item-total {
    width: 60px
}
mat-icon {
    margin-bottom: 0px;
}
.mat-icon-container {
    padding: 0px;
} */


/* =========== */

.course-item-container {
    margin-bottom: 10px;
    display: flex;
    /* border: 2px solid red; */
    align-items: center;
}
select{
    margin-right: 5px; 
    height: 25px;
    height: 45px;
    width: 35px;
    width: 50px;
    border: 1px solid blue;
    /* flex:10; */
}

.name-container {
    /* outline: 1px solid black; */
    align-content: center;
    flex:40;
}
.info-container {
    /* outline: 1px solid black; */
    flex: 10;
}
.price-container {
    /* outline: 1px solid black; */
    flex: 20;
    text-align: right;
}
.amount-container {
    /* outline: 1px solid black; */
    flex: 10;
    font-style: italic;
    text-align: right;
    padding-right: 3px;
}
.total-container {
    /* outline: 1px solid black; */
    flex: 20;
    text-align: right;
}

.course-item-container {
    /* border: 2px solid red; */
}

mat-form-field {
    border: 2px solid black;
    /* visibility: hidden; */
}
.mat-select-container {
    width: 150px;
    height: 20px;
}
