
<mat-card>
  <h3 mat-card-title>Café Captein en Co kapt niet!</h3>
  <mat-card-content>
    <p>
    In deze voor iedereen moeilijke tijden proberen wij ook het hoofd boven water te houden.
  </p>
  <p>Daarom is Café Captein & Co begonnen met het bezorgen en laten afhalen van bestellingen. Wij doen dit op <b> woensdag, vrijdag en zondag.</b> Voor deze week (15, 17 en 19 april volgt hier het menu. Voor komende weken, volg facebook of kijk op het raam van het café.</p>
  <p>
    Bij aankoop van twee bier een een borrelhapje &euro;1 korting.
  </p>
  <p>
    Bij aankoop van twee maaltijden en een fles wijn &euro;2 korting.
  </p>
  </mat-card-content>
  <mat-card-actions>
    <button
      class="bestellen-button"
      mat-raised-button 
      color="primary" 
      (click)="onBestellen()">
      BESTELLEN
    </button>
  </mat-card-actions>
</mat-card>