<div mat-dialog-title class="title-close-container" fxLayout fxLayoutAlign="space-between">
  <span>Bezorgen</span>
  <mat-icon mat-dialog-close>close</mat-icon>
</div>
<mat-dialog-content>
  <p><b>
    Vergeet niet uw adres in te vullen.</b>
  </p>
  <p>
    Bestellingen kunnen (gratis!) tot een afstand van 2 km bezorgd worden.
  </p>
  <p>
    De bestelling wordt bij u thuis voor de deur gebracht, woensdag, vrijdag of zondag tussen 16:30u en 19:00u U kunt aangeven hoe laat u de bezorging ongeveer wilt.
  </p>
  <p>
    De borrelhapjes worden gefrituurd en zijn dus warm. de maaltijden en de soep zijn koud en kunnen in de magnetron worde opgewarmd. U kunt bij 'OPMERKINGEN' aangeven dat u het warm wilt.
  </p>
  <p>
    Als u uw bestelling heeft doorgegeven ontvangt u een Tikkie. Gelieve deze direct te betalen, dan is uw bestelling bevestigd!
  </p>
</mat-dialog-content>
