<mat-toolbar
  fxFlex fxLayoutAlign="space-between center"
  color="primary">
  <div>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon class="menu-icon">
        menu
      </mat-icon>

      <!-- <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up"></mat-icon> -->
    </button>
  </div>
  <div class="logo-username">
    <a routerLink="/">Bedrijfsnaam</a>
  </div>
</mat-toolbar>
<!-- <div class="visibility-hidden">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dolor
</div> -->