
    <mat-card class="course-item-card">
      <div class="course-name-container">
        <h3>{{courseName}}</h3>
      </div>
      <div *ngFor="let courseItem of courseItems" class="course-item">
        <app-course-item
          [courseItem]="courseItem"
          [courseName]="courseName">
        </app-course-item>
      </div>
      <div *ngIf="courseTotal !== 0" class="course-total-container"><b>
        <div class="filler-h-55"></div>
        <div class="totaal-maaltijden" fxLayout fxLayoutAlign="space-between">
          <span>Totaal {{courseName}}</span>
          <span>{{courseTotal | currency:"EUR"}}</span>
        </div></b>
      </div>
      <button
        class="naar-bestellijst-button"
        mat-raised-button color="primary"
        (click)="onNaarBestellijst()">
        NAAR AAN BESTELLIJST
      </button>
    </mat-card>
    <!-- <mat-card class="visibility-hidden">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dolor
    </mat-card> -->
  

