
mat-card-title {
    font-size: 16px;
}
.course-name-container {
    padding-left: 20px;
}
.filler-h-40 {
    /* outline: 1px solid black; */
    width: 40px;
    height: 1px;
    float: left;
    /* display: inline-block; */
}

.naar-bestellijst-button {
    width: 100%
}