.fixed{
    table-layout: fixed;
    width: 283px;
}
.fixed td {
    overflow: hidden;
}
.title {
    background-color: pink;
    padding-left: 18px;
}

mat-card-title {
    font-size: 16px;
}
.course-name-container {
    padding-left: 20px;
}

/* .fixed-table{
    table-layout: fixed;
    width: 283px;
} */

