/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card {
    /* margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 2px; */
    /* width: 100%; */
    max-width: 500px;
    /* border: 2px solid pink; */
}

mat-sidenav-container {
    width: 100%
}

